# Dependencias
node_modules/
*.log

# Entorno
.env
.DS_Store

# Builds
build/
dist/

# Base de datos (no subir dumps locales, pero puedes subir el esquema SQL si es público)
*.sql
baketrack.sql  // Tu dump SQL, pero guárdalo localmente en XAMPP

# IDE
.vscode/settings.json
.idea/